:root {
  --primary: #d5b895; /*sebagai warna dominan untuk latar belakang atau elemen besar. */
  --secondary: #36454f; /* untuk aksen atau elemen desain yang lebih kecil untuk memberikan kontras. */
  --highlight: #c5dec4; /* sebagai highlight atau detail penting untuk menambahkan kesan(font) */
  --box: #b2a18a; /* sebagai warna background box atau highlight besar karena selaras dengan primary */
}

/* Global Selector */

html {
  background-color: var(--primary);
  color: var(--secondary);
  font-family: "Poppins", "sans-sheriff";
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 1.7rem;
}

section {
  height: 100vh;
  padding: 6rem 0;
  margin: 0 7rem;
}

/* Global Selector */

/* navbar section */
.navbar {
  background-color: var(--secondary);
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  justify-content: space-between;
  width: 100%;
  color: var(--highlight);
}

/* navbar brand section */
.brand {
  padding: 0 3rem;
  font-size: 1.5rem;
}

.brand a span {
  color: var(--primary);
}

.brand a {
  text-decoration: none;
  color: var(--highlight);
}
/* navbar brand section */

/* navbar list section */
.nav-list {
  display: flex;
  align-items: center;
  padding: 0 3rem;
  font-size: 1rem;
}

/* navbar active session */

.nav-list .active {
  background-color: #363d44af;
  font-size: 0.9rem;
  color: var(--primary);
}

/* navbar active session */

.nav-list li {
  margin: 0 2rem;
}

.nav-list a {
  text-decoration: none;
  color: var(--highlight);
}

.nav-list a:hover {
  color: var(--primary);
}
/* navbar list section */
/* navbar section */

/* home section */

section#home {
  display: flex;
}

section#home .box-content {
  margin: auto;
  background-color: var(--box);
  border: 0.1rem solid var(--secondary);
  padding: 2rem;
  border-radius: 1rem;
}

#home .box-content h1,
h2 span {
  color: var(--highlight);
}

#home h1,
h2 {
  text-align: left;
  margin: 0;
}

#home button {
  padding: 0.8rem;
  border-radius: 0.3rem;
  background-color: var(--highlight);
}

#home button:hover {
  background-color: var(--secondary);
  transition: 0.3s;
}

#home button a {
  text-decoration: none;
  color: var(--secondary);
  font-weight: 700;
}

#home button:hover a {
  color: var(--highlight);
}

#home img {
  border-radius: 50%;
  width: 70%;
  height: 70%;
  margin: 2rem;
  border: 0.5rem solid var(--box);
}

/* home section */

/* about section */
.about-content {
  display: flex;
}

.about-content p {
  text-align: justify;
  margin: 3rem;
  font-size: 1.3rem;
}

.about-content img {
  height: 35%;
  width: 35%;
  border-radius: 50%;
  margin: 3rem;
}

/* about section */
